{% extends 'mediaid/base2.html' %}
{% load static %}
{% block title %}List{% endblock title %}
{% block main-content %}
<div class="wrapper" style="padding-top:0px">
	<div class="header">Search results for Doctors</div>
	{% if doc %}
	<div class="cards_wrap">
		{% for doc in doc %}
		<div class="card_item">
			<div class="card_inner">
				<img src="{{doc.upload.url}}">
				<div class="role_name" style="font-weight:800;font-size: 15px;">Doctor Id : {{doc.id}}</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Name : {{request.user.username}}</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Hospital : {{doc.hospital}}</div>
				<div class="role_name" style="font-weight:800;font-size: 15px;">Number : {{doc.number}}</div>
			</div>
            <a class="btn" style="color:#4A8693;width:100%; background-color:black; font-size:18px; border-radius:25px; 
			margin-top:5px" type="submit" href="#">Take Appointment</a>
		</div>
		{% endfor %}
	</div>
	{% else %}
	<h4 class="text-center alert alert-danger"> No Doctors Found</h4>
	{% endif %}
</div>  
</div>

{% endblock main-content %}